.board {
  padding: 1rem;
  background-color: rgb(232, 237, 255);
  margin: 2rem auto;
  width: 60rem;
  max-width: 85%;
}

.board h1 {
  font-size: 2rem;
  font-family: monospace;
  margin: 1rem 2rem;
}

.board header {
  display: flex;
  margin: 1rem 1rem;
}
