.board {
  padding: 1rem;
  background-color: rgb(232, 237, 255);
  margin: 2rem auto;
  width: 60rem;
  max-width: 85%;
}

.board h1 {
  font-size: 2rem;
  font-family: monospace;
  margin: 1rem 2rem;
}

.board header {
  display: flex;
  margin: 1rem 1rem;
}

.right-content {
  
    padding: 1rem;
    background-color: #ffffff;
    margin: 10px;
    max-height: fit-content;
    border-radius: 3.125rem;
    box-shadow: none;
    float: right; /* Float the right content to the right */
    width: 50%; /* Adjust the width to your preference */
}