<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 79f78cd6a78bd5145ceffab0a0f6be028455f575
.IndividualTotal {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
<<<<<<< HEAD
    margin: 10px;
    width: 25rem;
=======
    margin: 10px 0 10px 27rem;
    width: 30rem;
>>>>>>> 79f78cd6a78bd5145ceffab0a0f6be028455f575
    max-height: fit-content;
    flex-shrink: 0;
    border-radius: 3.125rem;
    box-shadow: none;
<<<<<<< HEAD
  }
  
  .IndividualTotal h2 {
    text-align: center; /* Center the title */
    margin: 0;
  }
  
  .IndividualTotal ul {
    text-align: left; /* Right-align the list items */
    padding: 0; /* Remove padding for the list */
    list-style: none; /* Remove the list bullet points */

  }
.individualtotal {
    text-align: center;
    padding: 0.75rem;
    background-color: #b2c1fa;
    margin: 1rem;
    width: auto;
    max-height: fit-content;
    box-shadow: none;
  }

  ul {
    list-style: none;
    padding: 0;
=======
>>>>>>> 79f78cd6a78bd5145ceffab0a0f6be028455f575
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
<<<<<<< HEAD
 
  
=======
  
  .IndividualTotal ul {
    text-align: left; /* Right-align the list items */
  }
=======
.individualtotal {
    text-align: center;
    padding: 0.75rem;
    background-color: #b2c1fa;
    margin: 1rem;
    width: auto;
    max-height: fit-content;
    box-shadow: none;
  }
>>>>>>> 89a1bfd5e427c78bb0ef87e66c7fd2b21ca6dd01
>>>>>>> 79f78cd6a78bd5145ceffab0a0f6be028455f575
