.IndividualTotal {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    margin: 10px;
    width: 25rem;
    max-height: fit-content;
    /* flex-shrink: 0; */
    border-radius: 3.125rem;
    box-shadow: none;
  }
  
  .IndividualTotal h2 {
    text-align: center; /* Center the title */
    margin: 0;
  }
  
  .IndividualTotal ul {
    text-align: left; /* Right-align the list items */
    padding: 0; /* Remove padding for the list */
    list-style: none; /* Remove the list bullet points */

  }
.individualtotal {
    text-align: center;
    padding: 0.75rem;
    background-color: #b2c1fa;
    margin: 1rem;
    width: auto;
    max-height: fit-content;
    box-shadow: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
