.IndividualTotal {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    margin: 10px 0 10px 27rem;
    width: 30rem;
    max-height: fit-content;
    flex-shrink: 0;
    border-radius: 3.125rem;
    box-shadow: none;
  }
  
  .IndividualTotal h2 {
    text-align: center; /* Center the title */
  }
  
  .IndividualTotal ul {
    text-align: left; /* Right-align the list items */
  }
.individualtotal {
    text-align: center;
    padding: 0.75rem;
    background-color: #b2c1fa;
    margin: 1rem;
    width: auto;
    max-height: fit-content;
    box-shadow: none;
  }
