.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #f1f3fe;
}

.item h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 0.5rem;
  color: black;
}

.item__amount {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

@media (min-width: 580px) {
  .item h2 {
    font-size: 1.25rem;
    flex: 1;
    margin: 0 0.75rem;
    color: black;
  }

  .item__amount {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
